html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
}

/* common elements config */
.element_config {
	margin: 20px 0px;
}

/* image size mapping */
.image_sm img {
	max-width: 250px;
}

.image_md img {
	max-width: 400px;
}

.image_banner img {
	max-width: 100%;
}


/* single file container css config */
.single_file_container {
	min-height: 50px;
	padding: 10px;
	align-items: center;
	display: inline-block;
	padding-right: 15px;
}

.single_file_container img {
	max-width: 50px;
}

/* font size config */
.font_md p {
	font-size: 18px;
}

.font_lg p {
	font-size: 20px;
}

/* customise carousel */
.carousel .carousel-control-next {
	background: linear-gradient(-90deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.carousel .carousel-control-prev {
	background: linear-gradient(90deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

/* footer_with_link */
.footer_with_link .main_fontent_wrapper {
	min-height: 50px;
	background: #d5d8da;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.footer_with_link .main_fontent_wrapper img {
	max-width: 40px;
}

.footer_with_link .main_fontent_wrapper a {
	margin: 0 !important;
	color: #000000;
	text-decoration: underline;
}
